@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body #content {
    font-family: "Inter Tight", serif;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    font-family: "Inter Tight", serif;
}

#content p {
    font-family: "Inter Tight", serif;
}

#content hr.main {
    border-color: #193366;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.nav-tabs>li>a {
    font-family: "Inter Tight", serif;
    font-size: 15px;
}

label {
    font-family: "Inter Tight", serif;
    font-size: 14px;
    font-weight: 400;
}

.inline-input-group>.control-label {
    padding-top: 13px;
    text-align: right;
}

input.form-control,
select.form-control {
    border-radius: 6px;
    padding: 11px 12px;
    font-size: 15px;
    line-height: 140%;
    height: auto;
}

.input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
}

.input-group>input.form-control {
    flex: 1 0 auto;
    width: auto;
}

.input-group-addon {
    padding: 0.5em 1em;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.input-group-addon {
    border-radius: 6px;
}



.custom-select {
    min-width: 300px;
    position: relative;
}

.custom-select select {
    appearance: none;
    width: 100%;
    /* font-size: 1.15rem; */
    padding: 11px 24px 11px 12px;
    background-color: #fff;
    /* border: 1px solid #555; */
    /* border-radius: 0.25rem; */
    /* color: #000; */
    cursor: pointer;
}

.custom-select::before,
.custom-select::after {
    --size: 0.35rem;
    content: "";
    position: absolute;
    right: 12px;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid #555;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #555;
    top: 55%;
}



.checkbox-switcher {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.checkbox-switcher .checkbox-switcher-title {
    font-size: 16px;
    font-weight: 500;
    color: #0066cc;
}

.form-check-switcher-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.form-check-switcher-wrapper.disabled {
    pointer-events: none;
    opacity: 0.1;
}

.custom-checkbox-input-switcher-before,
.custom-checkbox-input-switcher-after {
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 600;
}

.custom-checkbox-input-switcher-before {
    padding-right: 8px;
}

.custom-checkbox-input-switcher-after {
    padding-left: 8px;
}

.form-check.form-check-inline.form-check-switcher {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.form-check.form-check-inline.form-check-switcher>input {
    display: none;
}

.form-check.form-check-inline.form-check-switcher>label {
    cursor: pointer;
    text-indent: -9999px;
    width: 48px;
    height: 24px;
    background: var(--gray-palette-400, #a8b5c2);
    display: block;
    border-radius: 12px;
    position: relative;
    margin: 0;
}

.form-check.form-check-inline.form-check-switcher>label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: var(--primary-white-100, #FCFCFC);
    border-radius: 10px;
    transition: 0.3s;
}

.form-check.form-check-inline.form-check-switcher>input:checked+label {
    background: #193366;
}

.form-check.form-check-inline.form-check-switcher.form-check-switcher--bd-od>input:checked+label {
    background: #353B41 !important;
}

.form-check.form-check-inline.form-check-switcher>input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.form-check.form-check-inline.form-check-switcher>label:active:after {
    width: 48px;
}

.form-check.form-check-inline.form-check-switcher>.switcher-text-before {
    margin-right: 8px;
}

.form-check.form-check-inline.form-check-switcher>.switcher-text-after {
    margin-left: 8px;
}