/*.*
!.gitignore
!README.md

/admin/*
!/admin/

/admin/controller/*
!/admin/controller/

/admin/controller/module/*
!/admin/controller/module/
!/admin/controller/module/xd_onclose.php

/admin/controller/extension/*
!/admin/controller/extension/
/admin/controller/extension/module/*
!/admin/controller/extension/module/
!/admin/controller/extension/module/xd_onclose.php

/admin/language/*
!/admin/language/

/admin/language/english/*
!/admin/language/english/
/admin/language/english/module/*
!/admin/language/english/module/
!/admin/language/english/module/xd_onclose.php

/admin/language/en-gb/*
!/admin/language/en-gb/
/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/
/admin/language/en-gb/extension/module/*
!/admin/language/en-gb/extension/module/
!/admin/language/en-gb/extension/module/xd_onclose.php

/admin/language/russian/*
!/admin/language/russian/
/admin/language/russian/module/*
!/admin/language/russian/module/
!/admin/language/russian/module/xd_onclose.php

/admin/language/ru-ru/*
!/admin/language/ru-ru/
/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/
/admin/language/ru-ru/extension/module/*
!/admin/language/ru-ru/extension/module/
!/admin/language/ru-ru/extension/module/xd_onclose.php

/admin/view/*
!/admin/view/

/admin/view/javascript/*
!/admin/view/javascript/
/admin/view/javascript/jquery/*
!/admin/view/javascript/jquery/
/admin/view/javascript/jquery/colorpicker.js

/admin/view/stylesheet/*
!/admin/view/stylesheet/
!/admin/view/stylesheet/xd_onclose.css
!/admin/view/stylesheet/mini_phone_button.png

/admin/view/stylesheet/css/*
!/admin/view/stylesheet/css/
/admin/view/stylesheet/css/colorpicker.css
!/admin/view/stylesheet/images/

/admin/view/template/*
!/admin/view/template/

/admin/view/template/module/*
!/admin/view/template/module/
!/admin/view/template/module/xd_onclose.tpl

/admin/view/template/extension/*
!/admin/view/template/extension/
/admin/view/template/extension/module/*
!/admin/view/template/extension/module/
!/admin/view/template/extension/module/xd_onclose.tpl

/catalog/*
!/catalog/

/catalog/controller/*
!/catalog/controller/

/catalog/controller/module/*
!/catalog/controller/module/
!/catalog/controller/module/xd_onclose.php

/catalog/controller/extension/*
!/catalog/controller/extension/
/catalog/controller/extension/module/*
!/catalog/controller/extension/module/
!/catalog/controller/extension/module/xd_onclose.php

/catalog/language/*
!/catalog/language/

/catalog/language/english/*
!/catalog/language/english/
/catalog/language/english/module/*
!/catalog/language/english/module/
!/catalog/language/english/module/xd_onclose.php

/catalog/language/en-gb/*
!/catalog/language/en-gb/
/catalog/language/en-gb/extension/*
!/catalog/language/en-gb/extension/
/catalog/language/en-gb/extension/module/*
!/catalog/language/en-gb/extension/module/
!/catalog/language/en-gb/extension/module/xd_onclose.php

/catalog/language/russian/*
!/catalog/language/russian/
/catalog/language/russian/module/*
!/catalog/language/russian/module/
!/catalog/language/russian/module/xd_onclose.php

/catalog/language/ru-ru/*
!/catalog/language/ru-ru/
/catalog/language/ru-ru/extension/*
!/catalog/language/ru-ru/extension/
/catalog/language/ru-ru/extension/module/*
!/catalog/language/ru-ru/extension/module/
!/catalog/language/ru-ru/extension/module/xd_onclose.php

/catalog/view/*
!/catalog/view/
/catalog/view/theme/*
!/catalog/view/theme/
/catalog/view/theme/default/*
!/catalog/view/theme/default/
/catalog/view/theme/default/template/*
!/catalog/view/theme/default/template/

/catalog/view/theme/default/template/module/*
!/catalog/view/theme/default/template/module/
!/catalog/view/theme/default/template/module/xd_onclose.tpl

/catalog/view/theme/default/template/extension/*
!/catalog/view/theme/default/template/extension/
/catalog/view/theme/default/template/extension/module/*
!/catalog/view/theme/default/template/extension/module/
!/catalog/view/theme/default/template/extension/module/xd_onclose.tpl


/catalog/view/theme/default/stylesheet/*
!/catalog/view/theme/default/stylesheet/
!/catalog/view/theme/default/stylesheet/xd_onclose.css
!/catalog/view/theme/default/stylesheet/mini_phone_button.png

/catalog/view/javascript/*
!/catalog/view/javascript/
!/catalog/view/javascript/xd_onclose.js
!/catalog/view/javascript/sourcebuster.min.js
!/catalog/view/javascript/jquery.mask.min.js

/system/*
!/system/
!/system/xd_onclose.ocmod.xml

/image/
/install/