.input-group-protected {
    display: none !important;
}

/* Modal styles */
#xd_onclose_modal .m-0 {
    margin: 0;
}

#xd_onclose_modal .p-0 {
    padding: 0;
}

#xd_onclose_modal .pt-1 {
    padding-top: 1em;
}

#xd_onclose_modal .pb-1 {
    padding-bottom: 1em;
}

#xd_onclose_modal .py-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

#xd_onclose_modal .px-1 {
    padding-left: 1em;
    padding-right: 1em;
}

#xd_onclose_modal .text-description {
    font-size: 1.25em;
    line-height: 1.25em;
}

#xd_onclose_error {
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.5em;
}

#xd_callback_modal .modal-title {
    line-height: 1;
}

.modal.modal-custom .modal-dialog .modal-content {
    border-radius: 16px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-header,
.modal.modal-custom .modal-dialog .modal-content .modal-body,
.modal.modal-custom .modal-dialog .modal-content .modal-footer {
    padding: 24px 24px 0 24px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-footer {
    padding: 0px 24px 24px 24px;
}

#xd_callback_success.modal.modal-custom .modal-dialog .modal-content .modal-body,
#xd_callback_success.modal.modal-custom .modal-dialog .modal-content .modal-footer {
    padding-top: 0;
}

.modal.modal-custom .modal-dialog .modal-content .modal-header,
.modal.modal-custom .modal-dialog .modal-content .modal-footer {
    border-color: transparent;
}

.modal.modal-custom .modal-dialog .modal-content .modal-body input {
    /* border-color: #C4C5C7; */
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 12px;
    font-size: 14px;
    line-height: 140%;
    height: 44px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-body .has-warning label {
    padding-left: 15px;
    color: #000;
}

.modal.modal-custom .modal-dialog .modal-content .modal-body .has-warning label:before {
    content: "* ";
    color: #FF0000;
}

.modal.modal-custom .modal-dialog .modal-content .modal-body .form-group-custom input {
    border-radius: 8px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-body textarea {
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    line-height: 140%;
}

.modal.modal-custom .modal-dialog .modal-content .modal-body .input-group-addon {
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 11px;
    font-size: 14px;
    line-height: 140%;
    height: 44px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-body .input-group-addon>svg {
    margin-bottom: -3px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-body .information {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 0;
}

/****** Captcha ******/
#xd_onclose_modal .captcha.basic_captcha>.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#xd_onclose_modal .captcha.basic_captcha>.form-group>label {
    width: 100%;
}

#xd_onclose_modal .captcha.basic_captcha>.form-group>input {
    order: 3;

    width: calc(100% - 150px);
    height: 35px;
}

#xd_onclose_modal .captcha.basic_captcha>.form-group>img {
    order: 2;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: inline 1px solid #000;
    outline: 1px solid #000;
    outline-offset: -1px;
}


.captcha>.form-group {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.captcha.basic_captcha>.form-group>label {
    width: 100%;
}

.captcha.basic_captcha>.form-group>.col-sm-10 {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.captcha.basic_captcha>.form-group>.col-sm-10>input {
    height: 35px !important;
}

.captcha.basic_captcha>.form-group>.col-sm-10>img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: inline 1px solid #000;
    outline: 1px solid #000;
    outline-offset: -1px;
}

.captcha.google_captcha>.form-group>.col-sm-10 {
    width: 100% !important;
    margin-left: 0 !important;
    text-align: center;
}

.captcha.google_captcha>.form-group>.col-sm-10>.g-recaptcha {
    display: inline-block;
    margin: 0 auto;
}